@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
body {
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.direct-link {
  cursor: pointer;
  text-decoration: underline;
  color: #3f6faa;
  font-size: 13px;
}

.direct-link:hover {
  color: #ff5816;
}

.text-link {
  color: #ff5816;
  text-decoration: underline;
}

.text-link {
  color: #cf4610;
}

.text-orange {
  color: #ff5816;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  text-transform: uppercase;
}

h1 {
  font-size: 52px;
}

h2 {
  color: white;
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 12px;
}

h5 {
  color: white;
  font-size: 15px;
}

b {
  font-weight: 700;
}

.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__arrows .prev, .slider__arrows .next {
  -webkit-transition: 0.2s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.2s ease;
  position: absolute;
  bottom: 40%;
  cursor: pointer;
}

.slider__arrows .prev {
  left: 2px;
}

.slider__arrows .next {
  right: 2px;
}

.slider__arrows .prev:hover {
  left: 0px;
}

.slider__arrows .next:hover {
  right: 0px;
}

.text-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.bg-light {
  background: #e3e5eb;
  padding: 30px;
}

.logo {
  text-transform: uppercase;
  font-weight: 100;
}

.logo span {
  background: white;
  padding: 0 5px;
  border-radius: 10px;
  color: #ff5816;
  font-weight: 300;
}

.logo__underline {
  color: #c1bfbf;
  font-size: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.header__cloud {
  background: url(../img/shape.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  width: 112px;
  height: 57px;
  text-transform: uppercase;
}

.header__contacts p {
  font-size: 13px;
}

.header__contacts .header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contacts .header__phone {
  font-size: 22px;
}

.arrows {
  display: none;
}

.main-nav {
  padding: 15px 0;
  background: #040d0d;
}

.main-nav .main-menu__burger {
  display: none;
}

.main-nav .main-menu__burger .menu-nav__button-burger {
  position: relative;
  display: block;
  width: 30px;
  height: 15px;
  cursor: pointer;
  border-top: 3px solid #ff5816;
  border-bottom: 3px solid #ff5816;
}

.main-nav .main-menu__burger .menu-nav__button-burger:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0px;
  width: 100%;
  border-top: 3px solid #ff5816;
}

.main-nav .main-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav .main-nav__menu a {
  color: white;
  font-weight: 300;
  font-size: 13px;
}

.main-nav .main-nav__menu a:hover {
  color: #e3e5eb;
}

.sign-row {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign-row p {
  font-size: 13px;
}

.sign-row .sign-row__login a {
  margin-left: 20px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__nav > * {
  margin-bottom: 30px;
}

.header__nav .header__logo {
  margin-top: 10px;
}

.header__nav .header__logo p {
  color: grey;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
}

.header__nav .header__loupe {
  display: none;
}

.header__nav .header__search .header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .header__search .header__title p {
  text-transform: uppercase;
  font-style: italic;
}

.header__nav .header__search .header__input input {
  border: none;
  background: #eff0f4;
  padding: 10px;
  border-radius: 5px;
}

.header__nav .header__search .header__input .search {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  background: #ff5816;
  padding: 7px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: 300;
}

.header__nav .header__search .header__input .search:hover {
  background: #cf4610;
}

.header__nav .header__basket .header__basket-info {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eeeded;
  border-radius: 20px;
  padding: 10px 20px;
}

.header__nav .header__basket .header__favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav .header__basket .header__favorite .header__favorite-item {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.header__nav .header__basket .header__favorite .header__favorite-item:hover {
  text-decoration: underline;
  color: #3f6faa;
}

.header__nav .header__basket p {
  font-size: 13px;
}

.themes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  border-radius: 10px;
  background: #ff5816;
  overflow: hidden;
}

.themes .themes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 9px;
  text-align: center;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}

.themes .themes__item:last-child {
  background: #cf4610;
}

.themes .themes__item:hover {
  background: #cf4610;
}

.news {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .news__content {
  max-width: 30%;
}

.news .news__content .news__title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.news .news__content .news__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news .news__content .news__items .news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  margin-bottom: 30px;
}

.news .news__content .news__items .news__item .news__item__img {
  text-align: center;
}

.news .news__content .news__items .news__item .news__item__img img {
  z-index: 1000;
}

.news .news__content .news__items .news__item .news__item__img .news__subtitle .news__number {
  color: #ff5816;
  font-size: 20px;
}

.news .news__content .news__items .news__item .news__text {
  margin-left: 15px;
  line-height: 18px;
}

.news .news__content .news__items .news__item .news__text a {
  color: #3f6faa;
}

.news .news__content .news__items .news__item .news__text a:hover {
  color: #ff5816;
  text-decoration: underline;
}

.news .slider {
  position: relative;
}

.news .slider img {
  position: absolute;
  right: 0;
}

.news .slider .slider__title {
  text-transform: uppercase;
  font-style: italic;
  background: #eeeded;
  padding: 15px 20px;
  border-radius: 10px;
}

.news .slider .slider__main {
  padding: 30px 60px;
  background: url(../img/camera.png) no-repeat;
  border-radius: 10px;
}

.news .slider .slider__main .slider__caption {
  text-transform: uppercase;
}

.news .slider .slider__main .slider__caption h2 {
  color: #ff5816;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.news .slider .slider__main .slider__caption p {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.news .slider .slider__main .slider__caption .italic {
  margin-top: 10px;
  font-style: italic;
}

.news .slider .slider__list {
  padding: 30px 0;
}

.news .slider .slider__list li {
  font-size: 13px;
  color: white;
  line-height: 25px;
  list-style: outside;
}

.news .slider .slider__button button {
  cursor: pointer;
  padding: 10px 15px;
  text-transform: uppercase;
  outline: none;
  color: #3f6faa;
  border: 0;
  border-radius: 5px;
}

.news .slider .slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news .slider .slider__dots .dot {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: #eeeded;
  border-radius: 5px;
  margin-left: 2px;
}

.news .slider .slider__dots .dot:hover, .news .slider .slider__dots .active {
  background: #ff5816;
}

.products {
  position: relative;
  margin-top: 20px;
}

.products .products__name {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  text-decoration: underline;
  color: #3f6faa;
  font-size: 16px;
  font-weight: 500;
}

.products .products__name:hover {
  color: #ff5816;
}

.products .products__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .products__items {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
}

.products .products__items .products__item {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  cursor: pointer;
  border: 1px #c7c7c7 solid;
  border-radius: 10px;
  padding-bottom: 20px;
  max-width: 233px;
}

.products .products__items .products__item .products__item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  position: relative;
  height: 220px;
}

.products .products__items .products__item .products__item__img img {
  max-width: 100%;
}

.products .products__items .products__item .products__item__img .products__label {
  position: absolute;
  top: 0;
  left: 3%;
}

.products .products__items .products__item .products__item__img .products__label p {
  position: absolute;
  top: 15%;
  left: 16%;
  color: white;
  font-weight: 500;
  font-size: 12px;
}

.products .products__items .products__item .products__subtitle {
  padding: 0 20px;
}

.products .products__items .products__item .products__subtitle .products__prices {
  margin: 20px 0;
  font-size: 13px;
  font-weight: 300;
}

.products .products__items .products__item .products__subtitle .products__prices .products__price {
  font-size: 20px;
  font-weight: 500;
}

.products .products__items .products__item .products__subtitle .products__prices .products__discount {
  color: #ff5816;
  text-decoration: line-through;
}

.products .products__items .products__item .products__subtitle .products__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .products__items .products__item .products__subtitle .products__buy .products__buy__btn {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  cursor: pointer;
  background: #ff5816;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.products .products__items .products__item:hover {
  border-color: #ff5816;
}

.products .products__items .products__item:hover .products__buy__btn:hover {
  background: #3f6faa;
}

.rebate__title, .rebate__text {
  padding: 20px;
}

.rebate__text {
  font-size: 13px;
  line-height: 18px;
}

.rebate__counter {
  background: #eeeded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rebate__counter .rebate__counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.rebate__counter .rebate__counts .rebate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rebate__counter .rebate__counts .rebate__item p {
  font-size: 11px;
  color: grey;
}

.rebate__counter .rebate__counts .rebate__item .rebate__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rebate__counter .rebate__counts .rebate__numb {
  padding: 3px;
  background: black;
  color: white;
  margin-left: 3px;
  border-radius: 3px;
}

.products__bought {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 70px;
}

.products__bought .products__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 220px;
}

.products__sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.products__sides .products__sides-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 170px;
          flex: 1 1 170px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.products__sides .products__sides-item .sides__icon {
  padding: 25px;
  background: white;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
}

.negative .chooses__head {
  background: #cb0b13;
}

.negative li {
  color: #cb0b13;
}

.positive .chooses__head {
  background: #16a333;
}

.positive li {
  color: #16a333;
}

.chooses {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chooses .chooses__item:nth-child(1) {
  border: 1px #cb0b13 solid;
}

.chooses .chooses__item:nth-child(2) {
  border: 1px #16a333 solid;
}

.chooses .chooses__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  border-radius: 10px;
  width: 48%;
  margin: 0 20px;
  margin-bottom: 30px;
}

.chooses .chooses__item .chooses__head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chooses .chooses__item .chooses__list {
  padding: 25px 35px;
}

.chooses .chooses__item .chooses__list li {
  list-style: outside;
  margin-bottom: 10px;
}

.chooses .chooses__item .chooses__list li span {
  color: black;
}

.counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 30px 30px 30px;
}

.counts .counts__item {
  max-width: 20%;
  text-align: center;
}

.counts .counts__item .counts__icon {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counts .counts__item p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
}

.us-work {
  margin-top: 35px;
}

.us-work .us-work__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.us-work .us-work__buttons .selected, .us-work .us-work__buttons .us-work__button {
  -webkit-transition: 0.4s ease;
  /* Safari and Chrome */
  /* Firefox 4 */
  /* Opera */
  transition: 0.4s ease;
  cursor: pointer;
  padding: 25px 15px;
  border-radius: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.us-work .us-work__buttons .us-work__button {
  background-color: #e3e5eb;
}

.us-work .us-work__buttons .us-work__button a {
  color: #ff5816;
  text-decoration: underline;
}

.us-work .us-work__buttons .us-work__button:hover {
  background: white;
}

.us-work .us-work__buttons .us-work__button:hover a {
  color: #cf4610;
}

.us-work .us-work__buttons .selected {
  background: white;
}

.us-work .us-work__buttons .selected a {
  color: black;
  text-decoration: none;
}

.us-work .us-work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.us-work .us-work__items .us-work__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 220px;
          flex: 1 1 220px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-text * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 240px;
          flex: 1 1 240px;
}

.info-text .info-text__item {
  margin: 20px;
}

.contacts {
  background: #5c7489;
  padding: 40px 0;
}

.contacts .contacts__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts .contacts__wrap .contacts__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  margin-bottom: 30px;
}

.contacts .contacts__wrap .contacts__col ul a, .contacts .contacts__wrap .contacts__col .contacts__text a {
  font-size: 14px;
  text-decoration: underline;
  color: white;
}

.contacts .contacts__wrap .contacts__col ul a:hover, .contacts .contacts__wrap .contacts__col .contacts__text a:hover {
  color: #ff5816;
}

.contacts .contacts__wrap .contacts__col .contacts__text {
  color: white;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
}

.contacts .contacts__wrap .contacts__col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts .contacts__wrap .contacts__col ul a {
  margin-bottom: 10px;
}

.contacts .contacts__wrap .contacts__col .contacts__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .contacts__wrap .contacts__col .contacts__cover .contacts__icons {
  cursor: pointer;
  margin-top: 50px;
}

.footer-info {
  background: #2c3f53;
  padding: 25px 0;
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 1022px) {
  .products__title .direct-link {
    display: none;
  }
  .products__title .arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products__title .arrows .prev, .products__title .arrows .next {
    -webkit-transition: 0.4s ease;
    /* Safari and Chrome */
    /* Firefox 4 */
    /* Opera */
    transition: 0.4s ease;
    cursor: pointer;
    padding: 5px 8px;
    border: 1.5px #b6b6b6 solid;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #ff5816;
  }
  .products__title .arrows .prev:hover, .products__title .arrows .next:hover {
    border-color: #ff5816;
  }
  .products__title .arrows .prev {
    margin-right: 10px;
  }
  .slider__arrows {
    display: none;
  }
  .main-nav .main-menu__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-nav .main-menu__burger p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 300;
    margin-left: 15px;
  }
  .main-nav .main-nav__menu {
    display: none;
  }
  .header__nav .header__search {
    display: none;
  }
  .header__nav .header__loupe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .themes {
    display: none;
  }
  .header__cloud {
    display: none;
  }
  .products__item:last-child, .products__bought-item:last-child {
    display: none;
  }
  .counts__item:last-child {
    display: none;
  }
  .us-work__items .us-work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 750px) {
  .sign-row__login .direct-link:nth-child(1) {
    display: none;
  }
  .news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news .news__content {
    max-width: 100%;
  }
  .news .news__content .news__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .products__item:nth-child(3), .products__bought-item:nth-child(3) {
    display: none;
  }
  #Counts {
    display: none;
  }
}

@media screen and (max-width: 510px) {
  #Chooses {
    display: none;
  }
  #Sides {
    display: none;
  }
  .products__item:nth-child(2), .products__bought-item:nth-child(2) {
    display: none;
  }
  .slider {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */